<!-- Jquery JS-->
<script src="${request.contextPath}/statics/js/vendor/jquery-3.2.1.min.js"></script>
<!-- Bootstrap JS-->
<script src="${request.contextPath}/statics/js/vendor/bootstrap/popper.min.js"></script>
<script src="${request.contextPath}/statics/js/vendor/bootstrap/bootstrap.min.js"></script>
<!-- Vendor JS -->
<script src="${request.contextPath}/statics/js/vendor/slick/slick.min.js"></script>
<script src="${request.contextPath}/statics/js/vendor/wow/wow.min.js"></script>
<script src="${request.contextPath}/statics/js/vendor/animsition/animsition.min.js"></script>
<script src="${request.contextPath}/statics/js/vendor/bootstrap_progressbar/bootstrap-progressbar.min.js"></script>
<script src="${request.contextPath}/statics/js/vendor/counter_up/jquery.waypoints.min.js"></script>
<script src="${request.contextPath}/statics/js/vendor/counter_up/jquery.counterup.min.js"></script>
<script src="${request.contextPath}/statics/js/vendor/circle_progress/circle-progress.min.js"></script>
<script src="${request.contextPath}/statics/js/vendor/perfect_scrollbar/perfect-scrollbar.js"></script>
<script src="${request.contextPath}/statics/js/vendor/chartjs/Chart.bundle.min.js"></script>
<script src="${request.contextPath}/statics/js/vendor/select2/select2.min.js"></script>
<!-- Main JS-->
<script src="${request.contextPath}/statics/js/main.js"></script>