<!-- HEADER DESKTOP-->
<header class="header-desktop3 d-none d-lg-block">
	<div class="section__content section__content--p35">
		<div class="header3-wrap">
			<div class="header__logo">
				<a href="#"> <img src="${request.contextPath}/statics/images/icon/logo-white.png"
					alt="CoolAdmin" />
				</a>
			</div>
			<div class="header__navbar">
				<ul class="list-unstyled">
					<li><a href="#"> <i class="fas fa-table"></i> <span
							class="bot-line"></span>账单管理
					</a></li>
					<li><a href="#"> <i class="far fa-check-square"></i> <span
							class="bot-line"></span>员工审核
					</a></li>
					<li class="has-sub"><a href="#"> <i
							class="zmdi zmdi-settings"></i>系统管理 <span class="bot-line"></span>
					</a>
						<ul class="header3-sub-list list-unstyled">
							<li><a href="user.html">用户管理</a></li>
							<li><a href="index2.html">企业管理</a></li>
						</ul></li>
				</ul>
			</div>
			<div class="header__tool">
				<div class="account-wrap">
					<div
						class="account-item account-item--style2 clearfix js-item-menu">
						<div class="image">
							<img src="${request.contextPath}/statics/images/icon/avatar-01.jpg" alt="John Doe" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- END HEADER DESKTOP-->